<%if flash[:upload_photo]%>
  <div class="alert alert-warning"><%=flash[:upload_photo]%></div>
<%end%>

<h2> Enter the details of your space </h2>

<form name ='list_space' action='/spaces/new' method='post' enctype="multipart/form-data">
  <label for='name'>
    Name of space <br />
  <input type="text" name="name"><br />
  <label for='description'>
    Description <br />
  <input type="text" name="description" /><br />
  <label for='price'>
    Price per night (£)<br />
  <input type="number" name="price" min="0.01" step="0.01" /><br />
  <label for='available_from'>
    Select available from date <br/>
  <input type="date" name="available_from"/><br/>
  <label for='available_from'>
    Select available to date <br/>
  <input type="date" name="available_to"/><br/>
  <label for="file">
    <span class="label">Upload image:</span>
    <input type="file" name="file">
  </label>
  <button type="submit" value='Submit'>List space</button>
</form>
