<% if current_user %>
  Welcome, <%= current_user.name %>
<% end %>
<form method='post' action='/sessions'>
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='Logout'>
</form>

<a href="/spaces/list">List a space</a>
