.request-box {
  border: 0.5px;
  border-color: #757575;
  border-style: solid;
  padding: 15px;
  border-radius: 5px;
  position: relative;
}

.main-heading {
  margin-top: -30px;
}

.btn-details {
  margin: 0;
  bottom: 0;
}

.request-image {
  max-width: 100%;
  height: auto;
}

.info-box {
	margin-top: 30px;
	margin-bottom: 20px;
	height: 200px;
	border-color: #f5f5f5;
	border-width: 1px;
	border-style: solid;
}

.info-image {
    display:table-cell;
    vertical-align:middle;
    width: 60%;
    height: auto;
    margin: 0;
    position: relative;
    top: -30px;
    padding:0;
    height:198px;
    background-size:100%;
    background-size: cover;
    background-position: center bottom;
}

.info-text {
    display:table-cell;
    vertical-align:middle;
    padding:0 10px;
    width: 80%;
    position: relative;
    top: -30px;
}

.info-tag {
	position: relative;
	top: -31px;

	width: 100%;
	height: 30px;
	padding-top: 5px;

	font-size: 14px;
	font-weight: bolder;
  padding-left: 10px;
	background-color: #f5f5f5;

	outline-color: #f5f5f5;
	outline-width: 1px;
	outline-style: solid;
}
