<div class="row">
  <div class="jumbotron landing-cabin">
    <div class="container-fluid">
      <p class="tagline">Your home away from home.</p>
    </div>
  </div>
</div>

<div class='spaces'>
  <ul class="list-unstyled spaces">
    <% @spaces.each do |space| %>
      <li>
        <div id="space">
          <p class='header'><b><%= space.name %></b></p>
          <p class='content'><%= space.description %></p>
          <p class='price'>£<%= space.price %> per night</p>
        </div>
      </li>
    <% end %>
  </ul>
</div>
