<div class="jumbotron">
  <h1>MakersBnB</h1>
  <p>Your home away from home.</p>
</div>

<div class='spaces'>
  <ul class="list-unstyled spaces">
    <% @spaces.each do |space| %>
      <li>
        <div id="space">
          <p class='header'><b><%= space.name %></b></p>
          <p class='content'><%= space.description %></p>
          <p class='price'>£<%= space.price %> per night</p>
        </div>
      </li>
    <% end %>
  </ul>
</div>
