<!DOCTYPE html>
<html>
   <head>
     <title>MakersBnB</title>
     <link href='/bootstrap-3.3.7/css/bootstrap.min.css' rel='stylesheet'>
     <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat+Subrayada" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200" rel="stylesheet">
     <link href='/css/cabinstyle.css' rel='stylesheet'>
   </head>

   <body>

      <nav class="navbar navbar-default navbar-fixed-top">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               </button>
               <a class="navbar-brand" href="#">CabinBnB</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
               <ul class="nav navbar-nav navbar-right">
                 <% if session[:user_id] %>
                    <li id="user-name"><%= current_user.name %></li>
                    <li>
                        <p class="navbar-btn">
                            <a href="/spaces/view" class="btn btn-default">Spaces</a>
                        </p>
                    </li>
                    <li>
                        <p class="navbar-btn">
                            <a href="/requests/view" class="btn btn-default">Requests</a>
                        </p>
                    </li>
                    <li>
                        <p class="navbar-btn">
                          <form method='post' action='/sessions'>
                             <input type='hidden' name='_method' value='delete'>
                             <input class="btn btn-default" type='submit' value='Logout'>
                          </form>
                        </p>
                    </li>
                  <% else %>
                    <li><a href="/sessions/new">Log in</a></li>
                    <li><a href="/users/new">Sign up</a></li>
                  <% end %>
               </ul>
            </div>
         </div>
      </nav>



      <div class="container-fluid"</div>

        <article class='layout' style="font-family: arial">
           <% if flash[:notice] %>
           <div id='notice'>
              <%= flash[:notice] %>
           </div>
           <% end %>
           <% if flash[:errors] && !flash[:errors].empty? %>
           Sorry, there was a problem:
           <ul id="errors">
              <% flash[:errors].each do |error| %>
              <li>
                 <%=error%>
              </li>
              <%end%>
           </ul>
           <%end%>
           <%= yield %>
        </article>

      </div>

      <!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> -->
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script> -->
      <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> -->
   </body>
</html>
